/* generals & defaults*/
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-size: 24px;
 font-family: 'Space Mono', monospace;
  color: hsl(186, 14%, 43%);
}
main{
 background: hsl(185, 41%, 84%);
 min-height: 100vh;

}
input{
  text-align: right !important;
  padding-right: 1rem;
}
.logo{
 margin:0 auto;
 display: block;
 padding: 2rem 0;
}
.calculator{
 background: hsl(0, 0%, 100%);
 height: 85vh;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
 padding-top: 1rem;
}
/* calculator start */

/* bill start */
.bill-container{
 padding-bottom: 1rem;

}
.bill-text{
  display: block;
  padding-left: 10%;
   font-size: .7rem;
}
.bill-input{
 width: 80%;
 position: absolute;
 left: 10%;
 right: 10%;
 border: none;
 background:hsl(189, 41%, 97%) ;
 height: 1.5rem;
 border-radius: 2px;
  padding-left: 30px;
  font-size: 16px;
}
.bill-input:focus{
  outline: none;

}
.bill-dollar-icon{
position: relative;
z-index: 10;
left:14vw;
}
/* bill end */

/* select tip section start */
.tip-text{
  font-size: .7rem;
  margin-left:8vw;
  display: inline-block;
  margin-bottom: 20px;
}

.buttons-container{
  display: grid;
  grid-template-columns: 40vw 40vw;
  grid-gap:.5rem;
  justify-content: center;
}
.percent-btn{
  background: hsl(183, 100%, 15%);
  border: none;
  padding: .2rem;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s background;
}
.percent-btn:hover{
  background: hsl(172, 67%, 45%);
}
.customPercent-input{
  text-align: right;
  color: black;
  font-weight: 700;
  background-color: hsl(189, 41%, 97%);
  padding: 10px;
  color: hsl(186, 14%, 43%);
  border: none;
  border-radius: 5px;
}
.customPercent-input::placeholder {
  opacity: 1; 
}
.customPercent-input:focus{
  outline: 2px solid hsl(172, 67%, 45%);
}
/* select tip section end */
.number-container{
  width: 80%;
  margin:.5rem 10% ;
}
.number-text{
font-size: .7rem;
}
.number-input{
  height: 1.5rem;
  width: 100%;
  border: none;
}
.number-input{
  background:hsl(189, 41%, 97%) ;
}
/* number-container section start */

/* number-container section end */

/* calculator end */


